*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {

    font-family: Arial, sans-serif;
    background-color: #e8ddc1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    background-color: #fff8db;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    overflow: hidden;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
    overflow-y: auto;
    padding: 10px;
    background-color: #f7e6b3;
    border-radius: 10px;
    flex-grow: 1;
}

.animal-item {
    text-align: center;
}

.animal-item img {
    width:  100px;
    height: 100px;
    object-fit: contain;
}

.side-panel {
    background-color: #7c5737;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.timer, .score {
    background-color: #f7a760;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.5rem;
    margin: 10px 0;
}

.current-animal img {
    width: 180px;
    height: 150px;
    margin-bottom: 10px;
    animation: bounce 2s infinite;
}
.game-over{
    position:fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.27);
    display: none;
    align-items: center;
    justify-content: center;

    width: 100%;

    .game-over-modal{
        max-width: 850px;
        width: 100%;
        height: 400px;
        text-align: center;
        display: flex;
        /* font-size: 500px; */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url("./animal/board.png");
        background-size: contain;
        gap: 21px 0;
        background-repeat: no-repeat;
        background-position: center;

        h2{
            color: white;
            font-family: monospace;
            font-size: 4rem;
            margin: 5px 0;
        }
        h3{
            color: white;
            font-size: 40px;
            margin: 5px 0;
        }
        .scoreValue{
            font-size: 3rem;
            color: white;
            margin: 5px 0;
        }
        .newGame{
            background: transparent;
            border: 1px solid black;
            padding: 10px 15px;
            font-size: 28px;
            margin-top: 5px;
            transition: 2s background-color;
            animation: bounce 2s infinite;
            border-radius: 50px;
            &:hover{
                background: #28a745;
                color: white;
                cursor: pointer;
            }
        }
    }
}

.start-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('./animal/sun.jpg') no-repeat center center/cover;
    z-index: 10;
}

.animated-title {
    font-size: 5rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
    animation: bounce 2s infinite;
}

.play-button {
    font-size: 2.0rem;
    padding: 10px 250px;
    border: none;
    border-radius: 50px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s;
    animation: bounce 2s infinite;
}

.play-button:hover {
    transform: scale(1.1);
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

/* Responsive Design */
@media (min-width: 850px) {
    .game-over-modal {
        max-width: 450px;
    }

}
@media (min-width: 768px) {
    .game-container {
        flex-direction: row;
    }

    .game-board {
        width: 70%;
        height: auto;
        overflow-y: auto;
    }

    .side-panel {
        width: 30%;
        height: 100%;
        margin-top: 0;
    }
}

@media (max-width: 767px) {
    .game-board {
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    }

    .animal-item img {
        width: 80px;
        height: 80px;
    }

    .current-animal img {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 480px) {
    .game-board {
        grid-template-columns: repeat(2, 1fr);
    }

    .animal-item img {
        width: 60px;
        height: 60px;
    }

    .current-animal img {
        width: 80px;
        height: 80px;
    }

    .timer, .score {
        font-size: 1.2rem;
    }
}
@media (max-width: 590px) {
    .animated-title {
        font-size: 3rem !important;
        margin: 0;
        text-align: center;
        line-height: 1.2;
    }

    #startGameButton {
        padding: 10px 20px;
        font-size: 2rem;
   }
}